h1 {
  display: inline-block;
  border: 5px solid rgb(255, 255, 255);
}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}
.navbar {
    background: #333;
    padding: 10px;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    margin-right: 15px;
    font-size: 16px;
    cursor: pointer;
}

.navbar button:hover {
    text-decoration: underline;
}

    /* Pages */
.page {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}
